* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.background {
    display: flex;
    height: 100vh;
    background-color: #141318;
    padding: 0px;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: none;

}

.server_discord {
    width: 70px;
    height: 80px;
    background: none;
    border: none;
    padding: 10px;

    img {
        border-radius: 50%;
    }

    &:first-child img {
    border-radius: 0%;
}
}

.left_bar {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    top: 15px;
    content: solid;
    width: 5px;
    height: 50px;
    border-radius: 0px 20px 20px 0px;
}

.main_body {
    background-color: #1c1d22;
    border-radius: 20px 0 0 0;
    margin: 10px 0 0 0;
    padding: 10px;

    h1 {
        color: white;
        font-size: 20px;
        padding: 0px 1vh ;
    }

    .add_and_search {
        display: flex;
        background: none;

        .search {
            background-color: #373a43;
            color: white;
            border: 2px;
            height: 25px;
            width: 25px;
            border-radius: 50%;
        }

        .add_friends {
            background-color: #373a43;
            color: white;
            border: 2px;
            border-radius: 20px;
            padding: 0px 5vh;
            margin: 0px 10px;
        }
    }
    
    .friends_list {
            display: flex;
            flex-direction: column;
            gap: 1px;

            .friend_cards {
                display: flex;
                align-items: center;
                width: 100%;
                height: 50px;
                background-color: transparent;
                border-radius: 10px;
                border-color: transparent;
                color: rgba(255, 255, 255, 0.219);
                padding: 10px;
                position: relative;

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }

                div {
                    padding: 5px;
                    text-align: left;
                }

                span {
                    position: absolute;
                    right: 0;
                    top: 2px;
                }
            }

            .friend_cards:nth-child(2) {
                color: white;
                background-color: #2d2d35;
            }
        }
    
}
