* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    width: 100vw;
}

footer {
    width: 100vw;
    height: 8vh;
}

.background {
    display: flex;
    background-color: #141318;
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: none;
    
    .server_discord {
        width: 70px;
        height: 80px;
        background: none;
        border: none;
        padding: 10px;

        img {
            border-radius: 50%;
        }

        &:first-child img {
        border-radius: 0%;
        }
        
        .left_bar {
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0;
        top: 15px;
        content: solid;
        width: 5px;
        height: 50px;
        border-radius: 0px 20px 20px 0px;
        }
    }

    img:hover {
        transition: 2s;
        translate: 2px;
        scale: 1.1;
        box-shadow: 0px 3px 10px #2d2d35;

    }
}

main {
    width: 100vw;
    height: 92vh;
}

.main_body {
    background-color: #1c1d22;
    border-radius: 20px 0 0 0;
    margin: 10px 0 0 0;
    padding: 10px;

    h1 {
        color: white;
        font-size: 20px;
        padding: 0px 1vh ;
    }

    .add_and_search {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: none;

        .search:hover {
            cursor: pointer;
        }
        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 0px 20px;
            color: white;
            background-color: #373a43;
        }

        .add_friends {
            background-color: #373a43;
            color: white;
            border: 2px;
            border-radius: 20px;
            padding: 0px 5px;
            margin: 0px 10px;
            flex-grow: 1;
        }
    }
    
    .friends_list {
            display: flex;
            flex-direction: column;
            gap: 1px;
            padding: 10px 1px;

            .friend_cards {
                display: flex;
                align-items: center;
                width: 100%;
                height: 50px;
                background-color: transparent;
                border-radius: 10px;
                border-color: transparent;
                color: rgba(255, 255, 255, 0.219);
                padding: 10px;
                position: relative;

                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }

                div {
                    padding: 5px;
                    text-align: left;
                }

                span {
                    position: absolute;
                    right: 0;
                    top: 2px;
                }

                .status {
                    color: #2d2d35;
                    height: 12px;
                    width: 12px;
                    border: solid;
                    border-radius: 50%;
                    background-color: rgb(255, 0, 0);
                    position: absolute;
                    left: 40px;
                    top: 30px;
                }
            }

            .friend_cards:nth-child(2) {
                color: white;
                background-color: #2d2d35;
            }
        }
    
}

.footer_bar {
    background-color: #2d2d35;
    width: 100vw;
    height: 8vh;

    .my_account {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        background-color: #2d2d35;
        
        

        a { display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            font-size: 30px;
            color: white;
            text-decoration: none;
            text-align: center;
            position: relative;

            img {
                
                height: 30px;
                width: 30px;
                border-radius: 50%;
            }

            span {
                display: block;
            }
        }
    }
}